<div class="w-full h-[500px] my-12">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d126924.08518506108!2d106.6230018!3d-6.2138223!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e6a035e988d7df7%3A0x26b507efd15c7b17!2sBSTrans%20Travel%20%26%20Rentcar!5e0!3m2!1sen!2sid!4v1759157001635!5m2!1sen!2sid"
        width="100%"
        height="100%"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        title="Embedded Google Map"
        class="rounded-lg shadow-xl"
    ></iframe>
</div>