---
const stats = [
  { id: 1, name: 'Orang telah melakukan pesanan', value: '8,000+' },
  { id: 2, name: 'Unit mobil', value: '50+' },
  { id: 3, name: 'Supir', value: '20+' },
  { id: 4, name: 'Tepat waktu', value: '99.9%' },
]
---
  <div class="relative isolate px-6 pt-26 lg:px-8">
    <div aria-hidden="true" class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80">
      <div style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" class="relative left-[calc(50%-11rem)] aspect-1155/678 w-144.5 -translate-x-1/2 rotate-30 bg-linear-to-tr from-[#ffa500] to-[#ff7f50] opacity-30 sm:left-[calc(50%-30rem)] sm:w-288.75"></div>
    </div>
    <div class="mx-auto max-w-6xl py-12 sm:py-2 lg:py-12">
      <div class="text-center">
        <h1 class="text-6xl font-semibold tracking-tight text-balance text-black sm:text-7xl italic">B<span class="text-orange-500">S</span> TRANS</h1>
        
        <p class="font-montserrat mt-2 text-sm font-medium text-pretty text-gray-500 sm:text-xl/8">Hanya mobil terbaik dengan perawatan standar tertinggi yang kami sediakan.<br/> Sewa mobil dari perusahaan yang menjamin keamanan dan kepuasan Anda.<br/> Lihat daftar mobil kami!</p>
      </p>
        
      </div>
    </div>
    <div aria-hidden="true" class="absolute inset-x-0 top-[calc(100%-13rem)] -z-99 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]">
      <div style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" class="relative left-[calc(50%+3rem)] aspect-1155/678 w-144.5 -translate-x-1/2 bg-linear-to-tr from-[#ffa500] to-[#ff7f50] opacity-30 sm:left-[calc(50%+36rem)] sm:w-288.75"></div>
    </div>
  </div>