---
import Header from './Header.astro';
---
<div class="bg-white">
  <Header/>
  <div class="relative isolate px-6 pt-6 lg:pt-14 lg:px-8">
    <div aria-hidden="true" class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80">
      <div style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" class="relative left-[calc(50%-11rem)] aspect-1155/678 w-144.5 -translate-x-1/2 rotate-30 bg-linear-to-tr from-[#ffa500] to-[#ff7f50] opacity-30 sm:left-[calc(50%-30rem)] sm:w-288.75"></div>
    </div>
    <div class="mx-auto max-w-xl pt-24 py-16 sm:py-16 lg:py-24">
      <div class="text-center">
        <h1 class="text-5xl font-semibold tracking-tight text-balance text-black sm:text-7xl italic">B<span class="text-orange-500">S</span> TRANS</h1>
        <h2 class="text-2xl font-semibold tracking-tight text-balance text-black sm:text-3xl">Rent Car & Travel</h2>
        <!-- <p class="font-montserrat mt-8 text-xl font-medium text-pretty text-gray-500 sm:text-xl/8">Jalan-jalan di Jabodetabek dan sekitarnya <br>jadi makin <bold>nyaman</bold> dan <bold>hemat</bold>!<br> Sewa mobil dari kami, dijamin dapat mobil keluaran terbaru dan driver ramah yang siap mengantar jemput kamu kemana saja.</p> -->
        <p class="font-montserrat mt-8 text-xl font-medium text-pretty text-gray-500 sm:text-xl/8">Menyediakan <br/>sewa mobil plus driver, lepas kunci 
         dan <br/>travel door to door bandara SOETTA - BANDUNG (PP)</p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a href="https://wa.me/6281293155210" class="rounded-md bg-orange-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-orange-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Hubungi Kami : 0812-9315-5210 <span aria-hidden="true">→</span></a>
          </div>
      </div>
    </div>
    <div aria-hidden="true" class="absolute inset-x-0 top-[calc(100%-13rem)] -z-99 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]">
      <div style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" class="relative left-[calc(50%+3rem)] aspect-1155/678 w-144.5 -translate-x-1/2 bg-linear-to-tr from-[#ffa500] to-[#ff7f50] opacity-30 sm:left-[calc(50%+36rem)] sm:w-288.75"></div>
    </div>
  </div>
</div>
  